body, 
html, 
*{
    font-size: 10px;
    box-sizing:border-box;
    margin: 0;
    padding:0;
}

h1{
    font-size:5rem;
    text-align: center;
    margin-top:20px;
}

.container{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

}

.card{
    width:30%; 
    height:20%;
    margin:25px 0;
    border:2px;
    border-radius:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    background-color: rgb(255, 182, 219);
    
}

@media screen and (max-width:1050px) {
    .card{
        width:45%;
    }
}
@media screen and (max-width:440px) {
    .card{
        width:100%;
    }
    .container{
        flex-direction: column;
    }

}
.card-img{
    width:90%;
    height:60%;
    object-fit:cover;
    margin: 3px;

}

.card-header {
    top: 15px;
    font-size: 2rem;
    margin: 3px;

}

.card-price{
    font-size: 1.5rem;
    margin: 3px;
}

a,
a:link,
a:visited,
a:focus {
    color:hotpink;
    text-decoration: none;
}

button{
    transition: all 0.3s;
    font-size: 2rem;
    bottom:5rem;
    display:inline-block;
    padding:5px 10px;
    margin: 3px;
    
}

button:hover{
    transform:scale(1) translateY(5px) translateX(-5px);
    filter:drop-shadow(52);
    background-color:rgb(255, 182, 219);
}
.animation{
    height:2rem;
    width:2rem;
    position:absolute;
}

@keyframes demo{
    0% {
        left:50%;
        bottom: 10%;
        background-color: red;
    }
    25% {
        left:50%;
        bottom: 10%;
        background-color: red;
    }
    50% {
        left:50%;
        bottom: 10%;
        background-color: red;
    }
}


