body, 
html, 
*{
    font-size: 10px;
    box-sizing:border-box;
    margin: 0;
    padding:0;
}

h1{
    font-size:5rem;
    text-align: center;
    margin-top:20px;
}

.container{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;

}

.card{
    height:40vh;
    width:10%; 
    margin:20px 0;
    border:2px sold black;
    height:30rem;
    width:20rem; 
    border:2px;
    border-radius:30px;
    margin:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    background-color: rgb(255, 182, 219);
    object-fit:cover;
    justify-items: center;
    
}

@media screen and (max-width:1050px) {
    .card{
        width:50%;
    }
    .container{
        flex-direction: row;
    }
}
@media screen and (max-width:540px) {
    .card{
        width:100%;
    }
    .container{
        flex-direction: column;
    }

}
.card-img{
    width:100%;
    height:60%;
    object-fit:cover;
}

.card-header {
    top: 15px;
    font-size: 3rem;

}

.card-price{
    font-size: 1.5rem;
    bottom:25px;
}

a,
a:link,
a:visited,
a:focus {
    color:hotpink;
    text-decoration: none;
}

button{
    transition: all 0.3s;
    font-size: 2rem;
    bottom:5rem;
}

button:hover{
    transform:scale(1.2) transalteY(10px);
    filter:drop-shadow(53);
    background-color:rgb(255, 182, 219);
}
.animation{
    height:2rem;
    width:2rem;
    position:absolute;
}

@keyframes demo{
    0% {
        left:50%;
        bottom: 10%;
        background-color: red;
    }
    25% {
        left:50%;
        bottom: 10%;
        background-color: red;
    }
    50% {
        left:50%;
        bottom: 10%;
        background-color: red;
    }
}


