body, 
html, 
*{
    font-size: 10px;
    box-sizing:border-box;
    margin: 0;
    padding:0;
}

h1{
    font-size:5rem;
    text-align: center;
    margin-top:20px;
}

.container{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    flex-direction:row;
    justify-content: center;

}

.card{
    height:30rem;
    width:20rem; 
    border:2px;
    border-radius:30px;
    margin:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    background-color: rgb(255, 182, 219);
    object-fit:cover;
}

@media screen and (max-width:1023px) {
    .card{
        width:100%;
    }
    .container{
        flex-direction: row;
    }

}
@media screen and (min-width:820px) {
    .card{
        width:100%;
    }
    .container{
        flex-direction: column;
    }

}
.card-img{
    width:100%;
    box-sizing: content-box;
    object-fit:contain;
}

.card-header {
    top: 15px;
    font-size: 3rem;

}

.card-price{
    font-size: 1.5rem;
    bottom:25px;
}

a,
a:link,
a:visited,
a:focus {
    color:hotpink;
    text-decoration: none;
}

button{
    transition: all 0.3s;
    font-size: 2rem;
    bottom:5rem;
}

button:hover{
    transform:scale(1.2) transalteY(10px);
    filter:drop-shadow(53);
    background-color:rgb(255, 182, 219);
}